// Основные цвета
$primary-color: #3880ff;
$secondary-color: #3dc2ff;
$background-color: #f4f4f4;
$text-color: #333;

// Отступы
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

// Радиус
$border-radius: 10px;
