.message-item {
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sender-name {
  font-weight: bold;
}

.timestamp {
  font-size: 12px;
  color: gray;
  margin-left: 8px;
}

.message-text {
  background: var(--ion-color-light);
  padding: 10px;
  border-radius: 8px;
  margin-top: 5px;
  word-break: break-word;
}

/* Сообщения отправителя */
.my-message {
  align-self: flex-end;
  color: grey;
  text-align: right;
}

/* Сообщения других пользователей */
.other-message {
  align-self: flex-start;
  background: var(--ion-color-light);
  text-align: left;
}
